{
    "presets": [[
        "@babel/preset-env",
        {
            "targets": {
                "ie": "9"
            }
        }
    ], "@babel/preset-flow"],
    "plugins": [
        "add-module-exports"
    ]
}
