language: node_js
node_js:
- '10'
stages:
  - test
  - release
env:
  global:
  - secure: eW41gIqOizwO4pTgWnAAbW75AP7F+CK9qfSed/fSh4sJ9HWMIY1YRIaY8gjr+6jV/f7XVHcXuym6ZxgINYSkVKbF1JKxBJNLOXtSgNbVHSic58pYFvUjwxIBI9aPig9uux1+DbnpWqXFDTcACJSevQZE0xwmjdrSkDLgB0G34v8=
  - secure: Y2Av+Gd3z9uQEB36GwdOOuGka0hx0/HeitASEo59z934O8RxnmN9eNTXS7dDT3XtKtwxIyLTOEpS7qlRdWahH28hr/dS4xJj6ao58C+1xMcDs6NAPGmDxUlcJWpcGEsnjmXjQCc3fBioSTdpIBrK/gdvgpNh77UKG74Sk7Z+YGk=
dist: trusty
sudo: true
notifications:
  webhooks:
    urls:
    - https://webhooks.gitter.im/e/2b007d4f86de89588804
    on_success: always
    on_failure: always
    on_start: false
install:
  - npm ci
cache:
  directories:
  - "$HOME/.npm"
jobs:
  include:
    - stage: test
      name: "Browser test - Internet Explorer 11"
      os: windows
      filter_secrets: false
      if: type = push AND repo=niklasvh/html2canvas
      script:
        - npm run build
        - dir "c:\Program Files"
        - dir "c:\Program Files (x86)"
        - TARGET_BROWSER=IE_11 npm run karma
    - stage: test
      name: "Build docs"
      script:
        - npm run build && cd www && npm install && npm run build && cd ..
    - stage: release
      name: "Deploy docs"
      script: skip
      if: type = push AND branch=master AND repo=niklasvh/html2canvas
      deploy:
        provider: pages
        skip_cleanup: true
        local_dir: www/public
        target_branch: gh-pages
        fqdn: html2canvas.hertzen.com
        github_token:
          secure: "PowO/Jat660k3gHcjgI6DlJz15RM7pLUu11UPsLCtYJ8ZwodppE6Keg0DfVkSFSIZttZor+UssDwP/WOEqfZNLqmXbcj3Gec4xolohet/GOe0KJKKuF/HgggbcxumopxMX6sMVePlMBpkLpHh7tgEAEHBWTlzC1c1a7Xa48fZ7k="
        on:
          branch: master
          repo: niklasvh/html2canvas
    - stage: release
      name: "GitHub release"
      script: skip
      if: type = push AND tag IS present AND branch=master AND repo=niklasvh/html2canvas
      deploy:
        provider: releases
        api_key:
         secure: "PowO/Jat660k3gHcjgI6DlJz15RM7pLUu11UPsLCtYJ8ZwodppE6Keg0DfVkSFSIZttZor+UssDwP/WOEqfZNLqmXbcj3Gec4xolohet/GOe0KJKKuF/HgggbcxumopxMX6sMVePlMBpkLpHh7tgEAEHBWTlzC1c1a7Xa48fZ7k="
        file:
         - "dist/html2canvas.js"
         - "dist/html2canvas.min.js"
        skip_cleanup: true
        on:
          tags: true
          branch: master
          repo: niklasvh/html2canvas
    - stage: release
      name: "npm release"
      script: skip
      if: type = push AND tag IS present AND branch=master AND repo=niklasvh/html2canvas
      deploy:
        provider: npm
        email: niklasvh@gmail.com
        api_key:
          secure: G/Szpr8q4/D6hp+H/Z9yyluUXtHAwf7LLa1Y07X59/Enlj1h7V5fQ7AW4/iAVM3XbIsrCPWR3dJU9g/ZxpxFg4OovIHVpS2Jr/mahtPYWdHR3pWuSmMW8QD+Twnq2VAFwSgg5Oumq3QxhX3YbCOnZox6+6Uviqk8FO7Z5B0RwW4=
        skip_cleanup: true
        on:
          tags: true
          branch: master
          repo: niklasvh/html2canvas
script: skip
