p {
    color: rgba(0,0,0,0.71);
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-weight: 300;
    font-size: 4.2rem;
    padding: 0;
}

h4 {
    font-size: 2.28rem;
    line-height: 110%;
    margin: 1.14rem 0 .912rem 0;
}

h5 {
    font-size: 1.28rem;
    line-height: 110%;
    margin: 1.14rem 0 .912rem 0;
}

h6 {
    line-height: 110%;
    margin: 1.14rem 0 .912rem 0;
}

a {
    color: #7cb342;
    text-decoration: none;
}

table {
    border: 1px solid #ddd;
}

table tr:nth-child(odd) {
    background-color: #f9f9f9;
}

th {
    padding: 8px;
    border: 1px solid #ddd;
    border-bottom-width: 2px;
}

td {
    padding: 8px;
}

th:first-child, td:first-child {
    padding-left: 8px;
}

:not(pre) > code {
    padding: .1em .25em;
    border: solid 1px rgba(51,51,51,0.12);
    background: #f5f2f0;
    border-radius: .3em;
    color: black;
    font-family: 'Inconsolata', Monaco, Consolas, 'Andale Mono', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.4;

}

blockquote {
    white-space: pre-wrap;
    padding: 0 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    border-left-color: #558b2f;

}

blockquote p {
    padding: 0;

}

* {
    box-sizing: border-box;
}
